@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
*, ::before, ::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

body {
  margin: 0;
  padding: 0;
  color: #a3a5ae;
  background-color: #F2F2F2;
}

.wrapper {
  margin: 40px auto;
  width: 540px;
}

@media screen and (min-width: 1440px) {
  .wrapper {
    width: 1440px;
  }
}

.wrapper .text {
  padding: 0 20px;
  margin: 80px auto;
  text-align: center;
  width: 311px;
}

@media screen and (min-width: 1440px) {
  .wrapper .text {
    width: 540px;
    margin: 60px auto;
  }
}

.wrapper .text h1 {
  font-size: 1.5rem;
  font-weight: 200;
  color: #4c4e61;
}

.wrapper .text h1 span {
  color: #4c4e61;
  font-weight: 600;
}

@media screen and (min-width: 1440px) {
  .wrapper .text h1 {
    font-size: 2.25rem;
  }
}

.wrapper .text p {
  font-size: .9375rem;
}

.wrapper .cardwrapp h2 {
  color: #4c4e61;
  font-size: 1.25rem;
  margin: 20px 0 5px 0;
}

.wrapper .cardwrapp p {
  font-size: .8125rem;
  margin: 0;
}

.wrapper .cardwrapp .card1, .wrapper .cardwrapp .card2, .wrapper .cardwrapp .card3, .wrapper .cardwrapp .card4 {
  width: 311px;
  height: 222px;
  border-radius: 10px;
  margin: 20px auto;
  -webkit-box-shadow: 0 0 10px #ada9a9;
          box-shadow: 0 0 10px #ada9a9;
  background-color: white;
  position: relative;
}

.wrapper .cardwrapp .card1 .ctext, .wrapper .cardwrapp .card2 .ctext, .wrapper .cardwrapp .card3 .ctext, .wrapper .cardwrapp .card4 .ctext {
  padding: 0 30px 0 30px;
}

.wrapper .cardwrapp .card1 img, .wrapper .cardwrapp .card2 img, .wrapper .cardwrapp .card3 img, .wrapper .cardwrapp .card4 img {
  float: right;
  width: 57px;
  height: 57px;
  position: absolute;
  bottom: 30px;
  right: 30px;
}

@media screen and (min-width: 1440px) {
  .wrapper .cardwrapp .card1 img, .wrapper .cardwrapp .card2 img, .wrapper .cardwrapp .card3 img, .wrapper .cardwrapp .card4 img {
    width: 64px;
    height: 64px;
  }
}

@media screen and (min-width: 1440px) {
  .wrapper .cardwrapp .card1, .wrapper .cardwrapp .card2, .wrapper .cardwrapp .card3, .wrapper .cardwrapp .card4 {
    width: 350px;
    height: 250px;
  }
}

.wrapper .cardwrapp .card1 {
  border-top: 4px solid #44D3D2;
}

.wrapper .cardwrapp .card2 {
  border-top: 4px solid #EA5454;
}

.wrapper .cardwrapp .card3 {
  border-top: 4px solid #FCAE4A;
}

.wrapper .cardwrapp .card4 {
  border-top: 4px solid #549EF2;
}

@media screen and (min-width: 1440px) {
  .wrapper .cardwrapp {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 1440px;
  }
  .wrapper .cardwrapp .inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 0 20px 0;
  }
  .wrapper .cardwrapp .inner .card2, .wrapper .cardwrapp .inner .card3 {
    margin: 0 0 25px 0;
  }
  .wrapper .cardwrapp .card1, .wrapper .cardwrapp .card4 {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin: 0 25px;
  }
}
/*# sourceMappingURL=stlylesheet.css.map */